body {
  background-color: cyan;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
}

h2 {
  border-bottom: 1px solid white;
}

label {
  display: block;
}

.container-a label {
  display: inline-block;
}
